extends layout 

block content 
    include ./menu.pug
    form(method='POST' action=`/users/${currentUser._id}?_method=PUT`)
        label(for='password'): b Password:
        input(type='password' name='password')

        button(type='submit') Update Password